<div class="row" >
  <div class="col-xs-8 col-xs-offset-2 text-center">
    <h4>Реализовано решение уравнений:</h4>
    <h5>
      <ul>
        <li>линейные с одной переменной</li>
        <li>квадратные</li>
      </ul>
    </h5>
  </div>
</div>


<div class="row">
  <div class="col-xs-8 col-xs-offset-1 text-center">
    <%= form_for @conn, solver_path(@conn, :create)%>
    <%= submit "Старт Решателя", class: "btn btn-primary" %>
  </div>
</div>

