/equation_solver/_build
/equation_solver/cover
/equation_solver/deps
/equation_solver/doc
/equation_solver/.fetch
/equation_solver/erl_crash.dump
/equation_solver/config/*.secret.exs
/equation_solver/log/

/equation_solver_hall/_build
/equation_solver_hall/cover
/equation_solver_hall/deps
/equation_solver_hall/doc
/equation_solver_hall/.fetch
/equation_solver_hall/erl_crash.dump
*.ez
*.beam
/equation_solver_hall/config/*.secret.exs
/equation_solver_hall/assets/node_modules/
/equation_solver_hall/log/
.vscode/

